.body {
    font-family: arial, serif;
    background-color: white;
    color: black;
}

.infoBox {
    font-size: 8pt;
    background-color: #C4C2C2;
    padding: 2;
}

.infoBoxTitle {
    font-size: 10pt;
    font-weight: bold;
}

.thead {
    font-size: 10pt;
    text-align: left;
    background-color: #999797;
    color: #DCE5C1;
}

.tbody {
    font-size: 8pt;
}

td.OK {
    background-color: #33FF00;
}

tr.OK {
    background-color: lightgreen;
}

td.WARNING {
    background-color: #FFFF00;
}

tr.WARNING {
    background-color: #FEFFC1;
}

td.CRITICAL {
    background-color: #F83838;
}

tr.CRITICAL {
    background-color: #FFBBBB;
}

td.PENDING {
    background-color: #ACACAC;
}

td.UNKNOWN, td.MISCONFIGURED {
    background-color: #FF9900;
}

tr.UNKNOWN, tr.MISCONFIGURED {
    background-color: #FFDA9F;
}